* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import 'colors';
$font1:'Amatic SC',
cursive;

.card {
    top: 20%;
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0 5rem;
}

section.photo {
    width: 20rem;
    height: 28rem;
    box-shadow: 0px 0px 10px;
    padding: 1rem .7rem;

    div#image {
        margin: auto;
        width: 95%;
        height: 88%;
    }

    .memo {
        height: 2rem;
        margin: 1rem auto;

        #memo {
            text-align: center;
            font-family: $font1;
            font-size: 1.5rem;
            margin: .2rem 0;
            letter-spacing: 1px;
        }
    }
}

button {
    font-family: $font1;
    border: none;
    background: $light-red;
    color: white;
    margin-top: 2rem;
    padding: .2rem 1rem;
    border-radius: 5rem;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    box-shadow: 0px 5px 5px;
    margin: 2rem;
}

.toggle {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

header {
    border: 1px solid;
    width: 100vw;
    height: 90vh;
    padding: 1rem 1rem;
    display: flex;
    align-items: baseline;
    color: white;
    background: url('../images/back-hero.jpg'), linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 1));
    background-blend-mode: lighten;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right top;
    font-family: $font1;
    position: relative;

    p {
        &:nth-of-type(1) {
            font-size: 2.5rem;
        }

        margin: 0 2rem;
        font-size: 2rem;
        font-weight: bolder;
        color: $light-red;
    }

    .icon {
        font-size: 3.5rem;
    }
}

.tag-line {
    font-family: $font1;
    position: absolute;
    top: 45%;
    right: 15%;
    color: $light-red;
    filter: saturate(300%);
    line-height: 1.5;


    h1 {
        opacity: 0;
        letter-spacing: 2px;
        font-size: 3rem;
        animation: fade 1.5s ease-in 2s forwards;
    }

    p {
        font-size: 2.2rem;
        letter-spacing: 1px;
        opacity: 0;

        &:nth-of-type(1) {
            animation: fade 1.5s ease-in 3.5s forwards;
        }

        &:nth-of-type(2) {
            animation: fade 1.5s ease-in 4.7s forwards;
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}
